<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/navigation') %>
        <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
            <section>
                <h1>
                    <img src="src/public/imag/fondoWeb2.jpg"/>
                    
                </h1>

                <p>
                    Aquí puedes compartir y/o participar en los eventos, que se actualizarán diariamente.Si tiene alguna duda, pregunta o consulta, puedes escribirme por via e-mail, para más información en la siguiente dirección: 
                </p>
                <h5>motar3000@hotmail.com</h5>
            </section>
        </main>
        <%- include('partials/footer') %>
</body>

</html>