<footer class="bg-dark color:#fff text-center p-4 m-3">
    <h1>fGreat</h1>
    
    <p class="h4">Bienviendo/as a la comunidad. Ahora ya puedes ver todo el contenido que se publica. Aquí, puedes publicar también o participar en los eventos</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>